<%= form_with(model: @genre, url: genres_path, local: true) do |f| %>
    <div class="field">
        <%= f.label :曲 %>
        <%= f.text_field :song, :size => 140 %>
    </div>

    <div class="field">
        <%= f.label :歌手 %>
        <%= f.text_field :singer, :size => 140 %>
    </div>

    <p>スペースを入力することで複数のタグを付けることができます。</p>
    <%= f.text_field :tag_maps, placeholder: "Ruby Python Java" %>

    <%= f.submit "submit" %>
<% end %>

<%= link_to "一覧へ", genres_path %>