<div class="tweet">
    <p><%= @genre.song %></p>
    <p><%= @genre.singer %></p>

    <% if user_signed_in? %>
        <% if current_user.already_liked?(@genre) %>
            <%= button_to genre_like_path(@genre), method: :delete do %>
                <p>いいねを取り消す</p><%= @genre.likes.count %>
            <% end %>
        <% else %>
            <%= button_to genre_likes_path(@genre), method: :post do %>
                <p>いいね</p><%= @genre.likes.count %>
            <% end %>
        <% end %>
    <% else %>
        <p>いいねの数 = </p><%= @genre.likes.count %>
    <% end %>

    <%= link_to "編集する", edit_genre_path(@genre.id) %>
    <%= link_to "一覧に戻る", genres_path %>
</div>

<h2>いいねしたユーザー</h2>
<% @genre.liked_users.each do |user| %>
<li><%= user.email %></li>
<% end %>