<div class="tweets-container">
    <% @points.each do |t| %>
        <div class="tweet">
            <%= t.song %>
            <%= t.point %>
            <%= t.image %>
        </div>
        <%= link_to "詳細へ", point_path(t.id) %>
        <%= link_to "編集する", edit_point_path(t.id) %>
        <%= button_to "削除する", point_path(t.id), method: :delete %> 
    <% end %>
</div>

<%= link_to "新規投稿へ", new_point_path %>