<%= form_for @point do |f| %>
    <div class="field">
        <%= f.label :曲 %>
        <%= f.text_field :song, :size => 140 %>
    </div>

    <div class="field">
        <%= f.label :点数 %>
        <%= f.text_field :point, :size => 140 %>
    </div>

    <div class="field">
        <%= f.label :写真 %>
        <%= f.text_field :image, :size => 140 %>
    </div>

    <%= f.submit "submit" %>
<% end %>

<%= link_to "Tweet一覧に戻る", points_path %>