<div class="tweet">
    <p><%= @point.song %></p>
    <p><%= @point.point %></p>
    <p><%= image_tag @point.image_url, size: "250x200" if @point.image? %></p>

    <% if user_signed_in? %>
      <% if current_user.already_favorited?(@point) %>
        <%= button_to point_favorite_path(@point), method: :delete do %>
          <p>いいねを取り消す</p><%= @point.favorites.count %>
        <% end %>
      <% else %>
        <%= button_to point_favorites_path(@point), method: :post do %>
          <p>いいね</p><%= @point.favorites.count %>
        <% end %>
      <% end %>
    <% else %>
      <p>いいねの数 = </p><%= @point.favorites.count %>
    <% end %>
<%= link_to "編集する", edit_point_path(@point.id) %>
</div>

<h2>いいねしたユーザー</h2>
<% @point.favorited_users.each do |user| %>
<li><%= user.email %></li>
<% end %>

<%= link_to "一覧に戻る", points_path %>
