<div class="point">
  <div class="score">
    <p><%= @point.song %></p>
 </div>
 <div class="point">
    <p><%= @point.singer %></p>
</div>
<div class="point">
    <p><%= @point.point %>点</p>
</div>
<div class="point">
    <p><%= @point.user.name %></p>
</div>


<% if user_signed_in? %>
  <% if current_user.already_favorited?(@point) %>
    <%= link_to point_favorite_path(@point), method: :delete do %>
      <i class="fas fa-heart"></i><%= @point.favorites.count %> 
    <% end %>
  <% else %>
    <%= link_to point_favorites_path(id: @point.id, point_id: @point.id), method: :post do %>      
      <i class="fas fa-heart"></i><%= @point.favorites.count %>
    <% end %>
  <% end %>
<% else %>
<i class="far fa-heart"></i><%= @point.favorites.count %>
<% end %>


<%= link_to "編集する", edit_point_path(@point.id) %>
<%= button_to "削除する", point_path(@point.id), method: :delete %>
</div>

<h2>いいねしたユーザー</h2>
<% @point.favorited_users.each do |user| %>
<li><%= user.email %></li>
<% end %>

<%= link_to "一覧に戻る", points_path %>
