<h1>自分の題名</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_other_path %>
<div class="others-container">
  <% @others.each do |t| %>
    <div class="tweet">
      <%= t.song %>
      <%= t.singer %>
      <%= t.text %>
      <%= t.voice %>
      <%= t.movie %>
      
      <%= link_to "詳細へ", other_path(t.id) %> 
      <%= link_to "編集する", edit_other_path(t.id) %>   
      <%= button_to "削除する", other_path(t.id), method: :delete %>
      </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>