<h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<%= image_tag @user.image_url, size: "250x200" if @user.image? %>
<%= render "relationships/follow_button", user: @user %>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.points.each do |t| %>
  <%= t.user.name %>
  <%= t.song %>
  <%= t.point %>
  <%= image_tag t.image_url, size: "250x200" if t.image? %>        
  <% end %>

<% @user.genres.each do |t| %>
    <%= t.user.name %>
    <%= t.song %>
    <%= t.singer %>
<% end %>

<% @user.others.each do |t| %>
    <%= t.user.name %>
    <%= t.song %>
    <%= t.singer %>
    <%= t.text %>
    <%= t.voice %>
    <%= t.movie %>
<% end %>

<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.favorited_points.each do |t| %>
  <%= t.user.name %>
  <%= t.song %>
<% end %>

<%= link_to "Tweet一覧に戻る", points_path %>
