<h1>チャットルーム</h1>
<div class="user-innn">
    <h2>2人のDM❤️</h2>
    <% @entries.each do |e| %>
        <h3><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%></a></strong></h3>
    <% end %>
   
</div>

<div class="dm">
<div class="aaaaa">
    <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
            <!-- 自分のメッセージ -->
            <% user = User.find(m.user_id) %>
            <div class="kakomu">
                <div class="balloon2">
                    <%= m.body %>
                </div>  
                <div class="icons">
                    <div class="icon">
                        <%= image_tag m.user.image_url, size: "50x50" if m.user.image? %>
                    </div>
                    <div class="namae">
                        <%= m.user.name %>
                    </div>
                </div>
                <br>
            </div>
            <br>
      <% else %>
            <!-- 相手のメッセージ -->
            <% user = User.find_by(id: m.user_id) %>
            <div class="kakomu">
                
                <div class="icons2">
                    <div class="icon2">
                        <%= image_tag m.user.image_url, size: "50x50" if m.user.image? %>
                    </div>
                    <div class="namae2">
                        <%= m.user.name %>
                    </div>
                </div>
                <div class="balloon1">
                    <%= m.body %>
                </div>
            </div>           
      <% end %>
    <% end %>
    </div> 
    <div class="mese">
        <%= form_for @message do |f| %>
        <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        
        <%= f.submit "送信する" %>
        <% end %>
    </div>
</div>

<%= link_to "ユーザー一覧に戻る", users_path %>


