<h1>チャットルーム</h1>
<div class="user-innn">
    <h2>2人のDM❤️</h2>
    <% @entries.each do |e| %>
        <h3><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%></a></strong></h3>
    <% end %>
   
</div>

<div class="dm">
    <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
            <!-- 自分のメッセージ -->
            <% user = User.find(m.user_id) %>
                <div class="balloon1">
                    <%= m.body %>
                    by<%= m.user.name %>
                    <div class="icon"><br> <%= m.user.name %> </div>
                </div><br>
                
            <br>
      <% else %>
            <!-- 相手のメッセージ -->
            <% user = User.find_by(id: m.user_id) %>
            <div class="balloon2">
                <%= m.body %>
                by<%= m.user.name %>
                <div class="icon"><br><%= m.user.name %></div>
            </div>
            
      <% end %>
    <% end %>

    
    <%= form_for @message do |f| %>
    <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , :size => 100 %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <%= f.submit "送信する" %>
    <% end %>
</div>

<%= link_to "ユーザー一覧に戻る", users_path %>


